.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 40px;
    box-shadow: 2px 2px 8px rgba(66, 64, 64, 0.25);
  }
  
  .logo img {
    width: 200px;
    height: auto;
    border-radius: 20px;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .rightSection button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .rightSection button:hover {
    opacity: 0.8;
  }
  
  .rightSection .chakra-menu__menu-button {
    padding: 0;
  }
  
  .rightSection .chakra-menu__menu-button:focus {
    outline: none;
  }
  
  .rightSection .chakra-menu__menu-list {
    min-width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .rightSection .chakra-menu__menu-list p {
    margin: 0;
  }
  
  .rightSection .chakra-menu__menu-item {
    padding: 8px 0;
    cursor: pointer;
  }
  
  .rightSection .chakra-menu__menu-item:hover {
    background-color: #f7f7f7;
  }

  .title {
    margin: 0;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus preferencias */
    font-weight: bold;
  }