Estilos para el contenedor del about
.about-container {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido */
  }
  
  /* Estilos para los títulos */
  .about-container h2,
  .about-container h3 {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio inferior entre títulos y párrafos */
  }
  
  /* Estilos para los párrafos de texto */
  .about-container p {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio inferior entre párrafos */
  }
  